<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mortley.android.restaurantsaver"
    android:versionCode="3"
    android:versionName="1.1" >
    
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
   	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   	<uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	
   	<supports-screens
        android:anyDensity="true"
        android:xlargeScreens="false"
        android:largeScreens="false"
        android:normalScreens="true"
        android:smallScreens="true" />
    
    <application
        android:icon="@drawable/restaurant_saver_48_1"
        android:label="@string/app_name" 
        android:name="com.mortley.android.restaurantsaver.application.RestaurantApplication"> <!--Class for globally sharing the RestaurantAdapter ArrayList-->
        <activity
            android:label="@string/app_name"
            android:name="com.mortley.android.restaurantsaver.ProjectRestaurantSaver" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        <activity
	        android:label="@string/app_name"
	        android:name="com.mortley.android.restaurantsaver.NearbyRestaurantActivity">
        </activity>
        
        <activity
	        android:label="@string/app_name"
	        android:name="com.mortley.android.restaurantsaver.StatsActivity">
        </activity>        
        <activity
	        android:label="@string/app_name"
	        android:name="com.mortley.android.restaurantsaver.TabGroup1Activity">
        </activity>
        <activity
	        android:label="@string/app_name"
	        android:name="com.mortley.android.restaurantsaver.SearchActivity">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.mortley.android.restaurantsaver.MostVisitedActivity">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.mortley.android.restaurantsaver.FavoriteRestaurantActivity">
        </activity>
        <uses-library android:required="true" android:name="com.google.android.maps" />
         <activity android:name="com.mortley.android.restaurantsaver.ShareOnFacebook" 
             android:label="@string/app_name"
             android:screenOrientation="portrait" 
             android:theme="@android:style/Theme.Dialog"/>
    </application>
</manifest>